body {
    margin: 0;
    padding: 0;
    background-color: #046380;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-img{
    max-height: 250px!important;
}

footer{
    background-color: #075269;
    color: white;
}

nav{
    background-color: #075269;
}

.card{ /* ovo stvarno nema na materialize... */
    border-radius: 15px;
}

.card img{
    border-radius: 15px 15px 0 0 !important;
    max-height: 250px;
}

.horizontal img{
    max-height: 300px;
    min-width: 100%;
}

.horizontal .card-image{
    width: 50%;
}

.horizontal{
    max-height: 25vh;
}

.horizontal .btn{
    margin: 0 2vw 0 2vw;
}

.card .btn{
    background-color: #046380 !important;
}

.carousel{ /* radi super, samo treba reload */
    min-height: 70vmin !important;
}

.carousel-item{
    height: auto !important;
    width: auto !important;
}

.carousel-item img{
    height: 50vmin !important;
    width: 50vmin !important;
}

table{
    margin: 2%;
    border-radius: 15px;
}

table img{
    height: 15vh !important;
}

.modal{
    border-radius: 15px;
}

.card-content{
    padding: 1vh !important;
}

.error img{
    max-height: 40vh;
}

.logo{
    border: 10px solid #075269;
}

.margin{
    margin: 1vmin;
}